*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

.DS_Store
Thumbs.db

.venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo

*.egg-info/
.eggs/
build/
dist/

**/migrations/*.pyc
**/migrations/*.py

media/
staticfiles/
*.tmp

.env
*.local
.settings/
